# Bin and Obj directories for all projects #
############################################
**/bin
**/obj

# Top-level Visual Studio metadata directory #
##############################################
.vs/*

# Any file that includes log in the extension #
###############################################
.*log*